.form {
    width: 100%;
}

h1 {
    text-align: center;
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.full-width {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 1rem;
}

button {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: .5rem;
}

@media screen and (max-width:480px) {
    h1 {
        font-size: 25px;
    }
    .full-width {
        width: 60%;
    }
    .button {
        width: 120%;
    }
}