<div class="create">
    <h1>Clientes</h1>
    <button (click)="navigateToCreate()" class="mat-elevation-z8" mat-raised-button color="primary">CRIAR NOVO CLIENTE</button>
</div>

<div class="example-container">
    <mat-table [dataSource]="dataSource">

        <!-- Position Column -->
        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="nome">
            <mat-header-cell *matHeaderCellDef> Nome </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.nome}} </mat-cell>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="cpf">
            <mat-header-cell *matHeaderCellDef> CPF </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.cpf}} </mat-cell>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="telefone">
            <mat-header-cell *matHeaderCellDef> Telefone </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.telefone}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef> Ações </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <a routerLink="update/{{element.id}}">
                    <i id="edit" class="material-icons">edit</i>
                </a>
                <a routerLink="delete/{{element.id}}">
                    <i id="delete" class="material-icons">delete</i>
                </a>
            </mat-cell>
        </ng-container>


        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
</div>