<form>
    <h1>Deletando técnico</h1>
    <mat-form-field class="full-width" appearance="fill">
        <mat-label>Nome</mat-label>
        <input disabled [(ngModel)]="tecnico.nome" maxlength="100" name="nome" matInput placeholder="Ex. Linux Tovalds">

    </mat-form-field>
    <mat-form-field class="full-width" appearance="fill">
        <mat-label>CPF</mat-label>
        <input disabled [(ngModel)]="tecnico.cpf" maxlength="15" name="cpf" matInput placeholder="000.000.000-00">

    </mat-form-field>
    <mat-form-field class="full-width" appearance="fill">
        <mat-label>Telefone</mat-label>
        <input disabled [(ngModel)]="tecnico.telefone" maxlength="18" name="telefone" matInput placeholder="Ex. (00) 90000-0000">

    </mat-form-field>
    <button class="mat-elevation-z8" (click)="delete()" mat-raised-button color="accent">Deletar</button>
    <button class="mat-elevation-z8" (click)="cancel()" mat-raised-button color="warn">Cancelar</button>
</form>