.container {
    width: 70%;
    margin: auto;
    word-break: break-all;
}

h1 {
    text-align: center;
}

#abertura {
    text-align: end;
    margin-bottom: 1rem;
}

button {
    width: 100%;
    margin-top: .5rem;
}

@media screen and (max-width:480px) {
    #abertura {
        margin-top: 2rem;
    }
}