<div class="create">
    <h1>Lista de Ordens de Serviços</h1>
    <button (click)="navigateToCreate()" class="mat-elevation-z8" mat-raised-button color="primary">CRIAR NOVA ORDEM DE SERVIÇO</button>
</div>

<div>
    <mat-table [dataSource]="dataSource">

        <!-- Position Column -->
        <ng-container matColumnDef="cliente">
            <mat-header-cell *matHeaderCellDef> Cliente </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.cliente}} </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="tecnico">
            <mat-header-cell *matHeaderCellDef> Técnico </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.tecnico}} </mat-cell>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="abertura">
            <mat-header-cell *matHeaderCellDef> Data de Abertura </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.dataabertura}} </mat-cell>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="fechamento">
            <mat-header-cell *matHeaderCellDef> Data de Fechamento </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.datafechamento}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="prioridade">
            <mat-header-cell *matHeaderCellDef> Prioridade </mat-header-cell>
            <mat-cell *matCellDef="let element" class="{{ prioridade(element.prioridade) }}"> {{element.prioridade}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="status">
            <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.status}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef> Ações </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <a routerLink="update/{{ element.id }}">
                    <i id="edit" class="material-icons">edit</i>
                </a>
                <a routerLink="view/{{element.id}}">
                    <i id="delete" class="material-icons">visibility</i>
                </a>
            </mat-cell>
        </ng-container>


        <mat-header-row *matHeaderRowDef="displayedColumns">
        </mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;">
        </mat-row>
    </mat-table>
</div>